

h1{
    color: #e5326e;
    font-family:'Nerko One', cursive;
    
}
    
img{
    width: 7rem;
    height: 6rem;
    float: left
    
    
    
    
}

.blocco{
    background-color: black;
    width: 35%;
    float: left;
    margin-right: 20px;
}

h2,h3{
    color: white;
}

p:last-child{
    color: white;
} 

.testoaffiancato{
    box-sizing: border-box;
   
}