

h1{
    color: #e5326e;
    font-family:'Nerko One', cursive;
    text-align: center;
    font-size: 70px;
 
    
}
    
img{
    width: 40%;
    float: left
    
    
}

p{
    text-align: center;
}

.blocco{
    background-color: black;
    width: 30%;
    float: left;
    margin-right: 2%;
    margin-top: 3%;
    margin-left: 1.2%;
    
}

h2,h3{
    color: white;
    font-family:'Nerko One', cursive;
}
h3{
    font-weight: 300;
}

 p:last-child{
    color: #48bde0;
} 

.testoaffiancato{
    box-sizing: border-box;
   
}

.email{
    color: #48bde0;
}